.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #0e6880;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* MY CODE STARTS HERE */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #870202;
}

.title {
  text-align: center;
  color: rgb(246, 242, 242);
  font-family: Georgia, sans-serif;
  font-size: 50px;
}

.search-container {
  position: relative;
}

.search-bar {
  width: 350px;
  height: 50px;
  font-size: 16px;
  color: #555;
  font-family: Arial, sans-serif;
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 40px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search-button i {
  margin-right: 5px;
}