.bg-img{
    background-color: rgb(112, 128, 212);
    position:absolute;
    height:103%;
    width:50%;
}

.img-left{
    margin-top: 10%;
    align-items: center;
    
}

.slogan-left{
    margin-top: 0;
    color: white;
    text-align: center;
    font-family: 'Baloo Thambi 2';
    font-size: 150%;
}

.heading-left{
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    text-align: center;
    font-family: 'Baloo Thambi 2';
    font-size: 8vh;
}