
*,*::after, *::before {
    box-sizing: border-box;
}


.popbutton {
    background-color: #7080d4; 
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    border-radius: 10px;
    z-index: 200;
    background-color: #4aa27a;
    width: 900px;
    height: 500px;
    padding: 50px;

}

.popup-header {
  padding: 10px, 15px;
  display: flex;
  text-align: center;
  color: white

}


.popup-body {
    padding: 10px, 15px;
    color: white;
}


.close {
    background-color: white;
    color: #4aa27a;
    text-align: right;
    top: 10px;
    left: 100px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    border-radius: 2px;

}






