.Signup-page{
    margin-top: 20%;
    color: black;
    font-family: 'Poppins';
    margin-left: 50px;
    align-items: left;
    text-align: left;
    margin-bottom: 20px;
}

.heading-right{
    font-size: 200%;
    text-align: left;
}

.text-username{
    border-radius: 200px;
    margin-bottom: 0%;
    width: 40vw;
    text-align: left;
}

.login{
    margin-top: 5px;
    font-size: 75%;
    display: flex;
    justify-content: start;
    margin-bottom: 30px;
    margin-top: 10px;

}

.submit-sign-up{
    background-color: rgb(191,201,254);
    color:white;
    width:200px;
    font-size: large;
    height:50px;
    border:none;
    border-radius: 30px;
    margin-top: 20px;
}
.submit-sign-up:hover{
    background-color: rgb(153, 170, 252);
    color:white;
    width:200px;
    font-size: large;
    height:50px;
    border:none;
    border-radius: 30px;
    margin-top: 20px;
}
.text-password{
    border-radius: 200px;
    width: 40vw;
    margin-bottom: 20px;
}

.file-button{
    margin-top: 7px;
    border-radius: 5px;
    height: 3.5vw;
    width: 40vw;
    margin-bottom: 10px;
}
